@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: 'Graphik';
}

.section{
    display: grid;
    justify-content: center;
}
form{
    display: grid;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 84, 133, 0.359);
    width: clamp(260px, 80vw, 400px);
}
form input,
form textarea,
form select{
    transition: 200ms;
    margin-bottom: 1rem;
    outline: 1px solid rgb(95, 95, 95);
    border-radius: 3px;
    padding: .3rem;
    min-width: 100px;
    background-color: whitesmoke;
}
form input:focus,
form textarea:focus,
form select:focus{
    background-color: rgb(153, 178, 248);
}
form button{
    margin-top: 1rem;
    background-color: rgb(153, 178, 248);
}
form button:hover,
form input:hover,
form textarea:hover,
form select:hover{
    background-color: rgb(92, 133, 245);
}
form button:active{
    background-color: rgb(30, 81, 220);
}
.adress-section{
    text-align: center;
}
